.botton {
  background-color: rgba(0, 19, 254, 1);
  border-radius: 0.3125rem;
  grid-gap: 0.625rem;
  width: 6.458125rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.boton{
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 20px;
  background: rgba(213, 213, 213, 1);
  border: 0;


    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-weight: 700;
    font-size: 13px;
    align-items: center;
    margin-left: 10px;
    margin-top: auto;
}
.boton2{
  font-family: Roboto;
  font-weight: 500;
}

.boton3{
  
  height: 2.25rem;
  width: 6.458125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background: rgba(0, 19, 254, 1);
  border-radius: 0.3125rem;
  cursor: pointer;
  border: none;
}

