.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: min(100%,80.3125rem);
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.container2{
  padding: 42px;
  
}