.enlace {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.25rem;
  background: rgba(213, 213, 213, 1);
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-weight: 700;
  font-size: 0.9375rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 0.9375rem;
}

.enlace2 {
  width: 3.9375rem;
  height: 1.625rem;
  border-radius: 0.3125rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 19, 254, 1);
  display: flex;

  align-items: center;
  justify-content: space-evenly;
}

.enlace3 {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-family: Roboto;
  font-size: 0.9375rem;
  font-weight: 400;

}

.enlace4{
  margin-left: auto;
  margin-top: 1.5625rem;
  height: 2.25rem;
  width: 6.458125rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background: rgba(0, 19, 254, 1);
  margin-right: 1.875rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  
}