@font-face {
    font-family: Roboto;
    src: url(../font/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url(../font/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(../font/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}
