.modal{
    position: fixed;
    z-index: 100;
    width: min(100%,41.25rem);
    height: 27.3125rem;
    background: rgba(255, 255, 255, 1);

    border: 1px ;
    box-shadow: 0px 8px 17px rgba(155, 155, 155, 0.4);
    inset: 0;
    margin: auto;
    border-radius: 1.25rem;
    
}
.modal:not(.active){
    display: none;
}