.name {
  font-family:Roboto ;
  font-size:20px ;
  font-weight: 400;
  height: 3.375rem;
  width: 24.3125rem;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  margin-bottom: 35px;
  outline: none;
}
