.NewItem{
    width: 4rem;
    height: 1.125rem;
    font-size: 0.9375rem;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 400;
    
    color: rgba(255, 255, 255, 1);
    text-align: center;


}