html{
    font-size: 1rem;
}

@media (max-width:767px) {
    /*Table*/
    html{
        font-size: 0.75rem;
    }
}

@media (max-width:575px) {
    /*Movil*/
    html{
        font-size: 0.625rem;
    }
}