
.search{
    
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.9375rem;
    color: #C4C4C4;
    width: 18.75rem;
    height: 2.5rem;
    border-radius: 0.3125rem;
    padding-left: 1.5625rem;
    border: 1px solid #E6ECF0;
} 