.selec {
  height: 3.375rem;
  width: 24.3125rem;
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 400;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  background: rgba(255, 255, 255, 1);
  outline: none;
  margin-bottom: 2.1875rem;
}
