.contentTypeTask{
    display: flex;
    justify-content: space-between;
    column-gap: 1.25rem;
    
}
.contentTask{
    background-color: rgba(230, 236, 240, 1);
    
    width: 100%;
    min-height: 50rem;
}

.topcontentask{
    display: flex;
    margin-top: 0.625rem;
    align-items: baseline;
    


}
.contentTask2{
    padding: 1rem;
}
.task{
    width: 100%;
    background: rgba(255, 255, 255, 1);
    padding: 1rem;
    margin-bottom: 1rem;
}

.task .title{
    margin: 0;
    font-family: Roboto;
    font-size: 0.9375rem;
    font-weight: 500;
}
.task .text{
    font-family: Roboto;
    font-size:0.9375rem ;
    font-weight: 400;

}
.task .btn{
    width: 3.9375rem;
    height: 1.625rem;
    font-family: Roboto;
    font-size: 0.9375rem;
    font-weight: 500;
    background: rgba(0, 19, 254, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;

}