.titulo{
    font-family: Roboto;
    font-weight: 700;
    margin: 0;
    margin-left: 1rem;
}

.titulo2{
    font-family:Roboto ;
    font-size: 2rem;
    font-weight:400 ;
    margin: 0;
    margin-bottom: 1rem;
}